@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --fundo-escuro: #000;
    --fundo-card: #1d2226;
    --fundo-card-ativo: hsla(0, 0%, 100%, 0.12);
    --texto-principal: hsla(0, 0%, 100%, 0.9);
    --texto-secundario: hsla(0, 0%, 100%, 0.6);
    --texto-escuro: hsla(0, 0%, 0%, 0.75);
    --input: #38434F;
    --primario: #70b5f9;
    --positivo: #3ec786;
}

* {
    padding: 0;
    border: 0;
    margin: 0;
    font-family: sans-serif;
    color: var(--texto-principal);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}


body {
    background-color: var(--fundo-escuro);
}

/* HEADER */
#iheader {
   background-color: var(--fundo-card);
   width: 100%;
}
.nav {
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.header-left {
    position: absolute;
    left: 0;
    height: 30px;
    display: flex;
    gap: 5px;
    align-items: center;
}
.logo {
    height: 34px;
}
.img-logo {
    width: 34px;
    height: 34px;
    border-radius: 5px;
}
#isearch {
    width: 100px;
    height: 100%;
    background: #38434F;
    border-radius: 4px;
    padding: 5px;
} #isearch::placeholder {
    color: var(--texto-secundario);
}

.links {
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
    padding: 5px;
    position: relative;
}
.legend-item-nav {
    color: var(--texto-secundario);
    font-size: 12px
}


.icon-item-nav {
    filter: invert(100%) sepia(100%) saturate(14%) hue-rotate(196deg) brightness(103%) contrast(103%);
    width: 20px;
}

#isolucoes {
    position: absolute;
    right: -60px;
    top: 3px;
    padding: 3px;
    border-left: 1px solid var(--texto-secundario);
}





.conteudo {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}
/* SECTIONS */
section {
    width: 90%;
    max-width: 780px;
    background-color: var(--fundo-card);
    margin: 20px auto;
    border-radius: 10px;
    padding: 24px;
    box-sizing: border-box;
}

    /* ----------- PROFILE */
    .perfil {
        padding: 0;
        overflow: hidden;
    }


.imagens-perfil {
    padding: 0;
    position: relative;
}
.img-capa {
    width: 100%;
    aspect-ratio: 780/230;
    object-fit: cover;
}
.img-perfil {
    width: 25%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    bottom: -34px;
    left: 30px;
    border: 5px solid var(--fundo-card);
    box-sizing: border-box;
}


.informacoes-perfil {
    padding: 40px 20px;
    display: flex;
}
.informacoes {
    width: 70%;
} .empresas {
    width: 30%;
}
.empresa {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 5px;
}
.img-empresa {
    width: 40px;
    aspect-ratio: 1/1;
    object-fit: cover;
}


.nome-usuario {
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 5px;
}
.atividades {
    font-size: 16px;
    padding-bottom: 5px;
}
.fala-sobre, .cidade-pais {
    font-weight: 400;
    color: var(--texto-secundario);
    padding-bottom: 5px;
}
.contatos {
    color: var(--primario);
    padding-bottom: 5px;
}
.seguidores-conexoes {
    padding-bottom: 5px;
}
.mensagem-mais {
    margin-top: 15px;
}
.mensagem {
    background-color: var(--primario);
    color: var(--fundo-card);
    padding: 10px 30px;
    border-radius: 20px;
    border: 2px solid var(--primario);
}
.mais {
    background-color: var(--fundo-card);
    color: var(--primario);
    padding: 10px 30px;
    border-radius: 20px;
    border: 2px solid var(--primario);
}




/* ======= DESTAQUES ======== */
